html, body {
	height: 100%;
}

body {
	/*background-image: url(../images/new_year_background.png);*/
}


/*navigation CSS */
	.navigation {
		width:960px;
		height:100px;
		background-color:orange;
	}

	.navigation ul {
		list-style-type: none;
	    margin: 0;
	    padding: 0;
	    /*overflow: hidden;*/
	    background-color: #fff;
	    display: inline;
	}

	.navigation h1 {
		display:inline;
		width:224px;
		background-color: aqua;
	}

	.navigation li {
	    float: right;
	}

	.navigation li a {
	    display: block;
	    color: #777;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}

	.navigation li a:hover {
	    background-color: #111;
	}

/*End navigation CSS*/

	.main-content {
		width:960px;
		background-color:aqua;
	}

/*MAIN BIO & PROFILE PIC*/
	.main-bio {
		width:650px;
		background-color:pink;
		float:left;
	}

	.profile{
		float:left;
		width:200px;
	}

/*END MAIN BIO*/

/*SIDEBAR GENERAL*/
	.contact-info {
		width:270px;
		/*height:100px;*/
		background-color:yellow;
		float:right;
	}
	.contact-info ul {
			list-style-type: none;
		    margin: 0;
		    padding: 0;
		/*    overflow: hidden;
		    background-color: #fff;
		    display: inline;*/
		}

	.contact-info li {
		    /*float: right;*/
		    display: inline;
		}

	.contact-info li a {
		text-align: center;
		}

	.contact-info li a:hover {
		    opacity: 10%;
		}

	.contact-info img {
		width:46px;
		height:46px;
	}

/*END SIDEBAR*/

/*PORTFOLIO*/

	.portfolio ul {
			list-style-type: none;
		    margin: 0;
		    padding: 0;
		}

	.portfolio li {
		    display: inline;
		    float:left;
		    padding-right: 10px;
		}

	.portfolio img {
		width:246px;
		height:186px;
		/*position: relative;*/
		display: inline;
	}

	.portfolio-label, .portfolio-label2, .portfolio-label3 {
		width:246px;
		height: 100px;
		background-color: white;
		position: absolute;
	}

	.portfolio-label {
		top:200px;
	}
	.portfolio-label2 {
		top:400px;
	}

	.portfolio-label3 {
		top:600px;
	}

/*.portfolio-box {
	width:246px;
	height: 186px;
	background-color: red;
	display:inline;
}

.portfolio-box img {
	width: 246px;
	height: 186px;
	position: relative;
}

.portfolio-label {
	width:246px;
	height: 100px;
	background-color: white;
	position: absolute;
	top:200px;
}

.portfolio-label2 {
	width:246px;
	height: 100px;
	background-color: white;
	position: absolute;
	top:300px;
	left:200px;
}*/


/*END PORTFOLIO*/

/*CONTACT ATTEMPT 2*/



/*input[type=submit] {
    width: 90%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}*/


.contactInput, .contactMessage, .contactSubmit   {
	
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    width: 90%;
    font-size: 14px;
    color: grey;
    
}

/*.contactInput, .contactMessage {
	
	display: inline-block;
	box-sizing: border-box;
}*/
.contactMessage {
	height: 200px;
}

.contactSubmit {
	width: 20%;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
/*.contact-form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}*/
/*CONTACT ATTEMPT 1*/

/*#contact-area {
	width: 600px;
	margin-top: 25px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: left;
}

label {
	float: left;
	text-align: left;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}*/

/*END CONTACT*/

/*STICKY FOOTER*/
	.main-content {
	  min-height: 100%;
	  /* equal to footer height */
	  margin-bottom: -142px; 
	}
	.main-content:after {
	  content: "";
	  display: block;
	}
	footer, .main-content:after {
	  height: 142px; 
	}

/*MAKES FOOTER CLEAR FLOATS*/
	
	footer {
		background-color: orange;
		clear: both;
		/*height: 60px;
		background-color: grey;*/
		text-align: center;
	}